/react/learning.react/node_modules
/react/learning.react/.pnp
/react/learning.react.pnp.js
/react/learning.react/coverage
/react/learning.react/build
/react/learning.react/.DS_Store
/react/learning.react/.env.local
/react/learning.react/.env.development.local
/react/learning.react/.env.test.local
/react/learning.react/.env.production.local
/react/learning.react/npm-debug.log*
/react/learning.react/yarn-debug.log*
/react/learning.react/yarn-error.log*
/react/learning.react/.env

/react/learning.next/.next
/react/learning.next/.env
/react/learning.next/.env.build
/react/learning.next/node_modules
/react/learning.next/npm-debug.log*
/react/learning.next/yarn-debug.log*
/react/learning.next/yarn-error.log*
/react/learning.next/next.config.js

/react/next/.next
/react/next/.env
/react/next/.env.local
/react/next/.env.build
/react/next/node_modules
/react/next/npm-debug.log*
/react/next/yarn-debug.log*
/react/next/yarn-error.log*
/react/next/next.config.js
/react/next/next-57fd0-firebase-adminsdk-7tp80-f1525cff04.json