/.metals
/Ruby/rails/other/c/a.out
/Ruby/rails/learning_rails/config/master.key
/Ruby/rails/learning_rails/config/database.yml
/Ruby/rails/learning_rails/.bundle
/Ruby/rails/learning_rails/db/*.sqlite3
/Ruby/rails/learning_rails/db/*.sqlite3-journal
/Ruby/rails/learning_rails/db/*.sqlite3-*
/Ruby/rails/learning_rails/log/*
/Ruby/rails/learning_rails/tmp/*
/Ruby/rails/learning_rails/log/.keep
/Ruby/rails/learning_rails/tmp/.keep
/Ruby/rails/learning_rails/tmp/pids/*
/Ruby/rails/learning_rails/tmp/pids/
/Ruby/rails/learning_rails/tmp/pids/.keep
/Ruby/rails/learning_rails/storage/*
/Ruby/rails/learning_rails/storage/.keep
/Ruby/rails/learning_rails/public/assets
/Ruby/rails/learning_rails.byebug_history
/Ruby/rails/learning_rails/public/packs
/Ruby/rails/learning_rails/public/packs-test
/Ruby/rails/learning_rails/node_modules
/Ruby/rails/learning_rails/yarn-error.log
/Ruby/rails/learning_railsyarn-debug.log*
/Ruby/rails/learning_rails.yarn-integrity

swift/learning.swift/learning.xcodeproj/project.xcworkspace/xcuserdata/omatakeisuke.xcuserdatad/UserInterfaceState.xcuserstate