/.metals
/ruby/rails/other/c/a.out
/ruby/rails/learning_rails/config/master.key
/ruby/rails/learning_rails/config/database.yml
/ruby/rails/learning_rails/.bundle
/ruby/rails/learning_rails/db/*.sqlite3
/ruby/rails/learning_rails/db/*.sqlite3-journal
/ruby/rails/learning_rails/db/*.sqlite3-*
/ruby/rails/learning_rails/log/*
/ruby/rails/learning_rails/tmp/*
/ruby/rails/learning_rails/log/.keep
/ruby/rails/learning_rails/tmp/.keep
/ruby/rails/learning_rails/tmp/pids/*
/ruby/rails/learning_rails/tmp/pids/
/ruby/rails/learning_rails/tmp/pids/.keep
/ruby/rails/learning_rails/storage/*
/ruby/rails/learning_rails/storage/.keep
/ruby/rails/learning_rails/public/assets
/ruby/rails/learning_rails.byebug_history
/ruby/rails/learning_rails/public/packs
/ruby/rails/learning_rails/public/packs-test
/ruby/rails/learning_rails/node_modules
/ruby/rails/learning_rails/yarn-error.log
/ruby/rails/learning_railsyarn-debug.log*
/ruby/rails/learning_rails.yarn-integrity

/swift/learning.swift/learning.xcodeproj/project.xcworkspace/xcuserdata/omatakeisuke.xcuserdatad/UserInterfaceState.xcuserstate