<div class="page1-top">
  <h2>ようこそ <span class="Bookers">Bookers</span> へ！</h2>
</div>

<div class="page2-bottom">
  <span class="Bookers">Bookers</span>では、さまざまな書籍に関するあなたの意見や
  <br>
  <br>
  印象を共有し交換することができます
  <br>
  <br>
  <%= link_to "start", books_path %>
</div>