// Place all the styles related to the cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart-item-bottom{
    width:100%;
}

.cart-item-order{
    width:30%;
    float:right;
    font-size: 15px;
}

.line{
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
}

.order-btn{
    text-align: center;
}

@media screen and (max-width:499px) {   
    .cart-container {
        width :290px;
    } 

    .cart-item-order {
       width: 40%;
    }
  }