<div style="margin-bottom: 80px;", class="center-style">
  <div class="well-sm"><h3 style="margin-bottom: 30px;">本当に退会しますか？</h3>
  </div>
  <div style="margin-bottom:15px";>
  <%= link_to '戻る', user_path(@user), class: "btn btn-success" %>
  </div>
  <%= link_to user_path(@user), method: :delete do %>
    <button class="btn btn-default">退会する</button>
  <% end %>
</div>