<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>327381130992-b0tmc8udgd7i49vml2k4t175954h4fnv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.327381130992-b0tmc8udgd7i49vml2k4t175954h4fnv</string>
	<key>API_KEY</key>
	<string>AIzaSyBuC9xoGb7moTE8OCKZCOLrw55znRCd404</string>
	<key>GCM_SENDER_ID</key>
	<string>327381130992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>KeisukeOmata.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-b9a6b</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-b9a6b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:327381130992:ios:848e1e3100cfb9bc57ac35</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-b9a6b.firebaseio.com</string>
</dict>
</plist>